<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <settings>
      <setting value="true" name="callSettersOnNulls" />
      <setting value="false" name="cacheEnabled" />
      <setting value="true" name="useGeneratedKeys" />
      <setting value="REUSE" name="defaultExecutorType" />
      <setting value="VARCHAR" name="jdbcTypeForNull" />
      <setting value="true" name="mapUnderscoreToCamelCase" />
   </settings>

   <typeAliases>

    <!-- 시스템공통 -->
	<package name="com.seoulit.post.to" />
	<package name="com.seoulit.erp47.com.base.to"/>
	<package name="com.seoulit.erp47.com.util.to"/>
    <!-- 물류 -->
    <package name="com.seoulit.erp47.log.base.to"/>
      
    <!-- 인사 -->
	<package name="com.seoulit.erp47.hrs.emp.to" />				<!-- 인사관리 -->
	<package name="com.seoulit.erp47.hrs.guntae.to" />			<!-- 근태관리 -->
      
    <!-- 회계 -->
	<package name="com.seoulit.erp47.acc.vat.to" />					<!-- 부가가치세 -->
	<package name="com.seoulit.erp47.acc.budget.to" />				<!-- 예산관리 -->
	<package name="com.seoulit.erp47.acc.elementary.to" />			<!-- 회계 계정관리) -->

    <!-- 원무 -->
    <package name="com.seoulit.erp47.won.outPatMgt.to" />	  
      
      
    <!-- 진료지원 -->
    <package name="com.seoulit.erp47.sup.checkup.to"/>  
    <package name="com.seoulit.erp47.sup.nutritive.to"/>  

	<!-- 원무 -->
	
	
	<!-- 진료지원 -->
		
     
    <!-- 진료처방 -->
    <package name="com.seoulit.erp47.med.request.to"/>
  

   </typeAliases>

</configuration>